@model IEnumerable<ShipEquipment.Biz.Domain.Category>
@using ShipEquipment.Core.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Layouts/Default.cshtml";
    
    var pagingModel = ViewBag.PagingModel as PagingModel;
    var kw = ViewBag.Keyword as string;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Parent.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.Controls().Pager(pagingModel)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input id="kw" name="kw" type="text" value="@kw" />
    <input type="submit" value="Tìm" class="btn btn-default js-btn-search"  />
}
