@model IEnumerable<ShipEquipment.Biz.Domain.Product>
@using ShipEquipment.Core.Constant

@{
    var pagingModel = ViewBag.PagingModel as PagingModel;
}

@if (Model != null && Model.Count() > 0)
{
    <ul>
        @foreach (var product in Model)
        {
            <li>
                <div class="content_products">
                    <div class="img_content">
                        <a href="/chi-tiet-sp/@product.Alias">
                            @if (product.GetPhoto() != null)
                            {
                                <img src="~/Userfiles/Modules/Products/Thumb/@product.GetPhoto().FileName" alt="@product.Name" />
                            }
                            else
                            {
                                @product.Name
                            }
                        </a>
                    </div>
                    <div class="text_infor">
                        <p>@product.ShortDescription</p>
                        @if (@product.SalePrice > 0)
                        { 
                            <p class="priceSale1">
                                <span class="oldPrice">@product.Price.ToString("N0") VND</span>
                                <span class="salePrice">@product.SalePrice.ToString("N0") VND</span>
                            </p>
                        }
                        else
                        {
                            <p class="price">@product.GetPrice()</p>
                        }
                    </div>
                    <a href="javascript:void(0)" data-id="@product.Id" class="btn_chonmua cart-add">CHỌN MUA</a>
                </div>
            </li>
        }
    </ul>
    
    <div class="clear"></div>
    @Html.Controls().Pager(pagingModel)
}