<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Html.JsBundle("~/js/default")
</head>
<body>
    <a href="~/Views/Layouts/Default.cshtml">~/Views/Layouts/Default.cshtml</a>
    @Html.Controls().MenuNavigator()
    
    <p>&nbsp;</p>
    <h1>Category list</h1>
    @Html.Controls().CategoryList()

    <h1>Product list</h1>
    @Html.Controls().ProductList(false)

    <h1>Product detail</h1>
    @Html.Controls().ProductDetail()

    <h1>Bread cum</h1>
    @Html.Controls().CategoryBreadcum()

    @RenderBody()

    @Html.JsBundle("~/js/jqueryval")
</body>
</html>