<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@ViewBag.Title</title>
    @Html.CssBundle("~/css/index")
    @Html.JsBundle("~/js/default")
</head>
<body>
    <div id="body">
        <div class="main">
            <header class="top">
                <div class="contentTop">
                    <div class="logo"><a href="/"><img src="/images/thx/logo.png" alt="logo" /></a></div>
                    @{ Html.RenderPartial("~/Views/Shared/Partial/MiniShopcart.cshtml"); }
                    <!--Mini Shopping Cart End-->
                    <div class="clear2"></div>
                    @{ Html.RenderPartial("~/Views/Shared/Partial/SearchBox.cshtml"); }
                    <nav class="nav">
                        @Html.Controls().MenuNavigator()
                    </nav>
                    <!-- /Nav -->
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </header>
            <div class="content">
                @Html.Controls().Slider()

                <div id="owl">
                    <div class="item">
                        <div class="content_products_new">
                            <div class="text_new">
                                <h4><a href="#">MÁY SMN02596</a></h4>
                                <p>MADE IN NHAT BAN</p>
                            </div>
                            <div class="img_new"><a href="#"> <img src="/images/thx/product1.jpg" alt="" /></a></div>
                            <a href="#" class="btn_chonmua">CHỌN MUA</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content_products_new">
                            <div class="text_new">
                                <h4><a href="#">MÁY SMN02596</a></h4>
                                <p>MADE IN NHAT BAN</p>
                            </div>
                            <div class="img_new"><a href="#"> <img src="/images/thx/product2.jpg" alt="" /></a></div>
                            <a href="#" class="btn_chonmua">CHỌN MUA</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content_products_new">
                            <div class="text_new">
                                <h4><a href="#">MÁY SMN02596</a></h4>
                                <p>MADE IN NHAT BAN</p>
                            </div>
                            <div class="img_new"><a href="#"> <img src="/images/thx/product3.jpg" alt="" /></a></div>
                            <a href="#" class="btn_chonmua">CHỌN MUA</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content_products_new">
                            <div class="text_new">
                                <h4><a href="#">MÁY SMN02596</a></h4>
                                <p>MADE IN NHAT BAN</p>
                            </div>
                            <div class="img_new"><a href="#"> <img src="/images/thx/product4.jpg" alt="" /></a></div>
                            <a href="#" class="btn_chonmua">CHỌN MUA</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content_products_new">
                            <div class="text_new">
                                <h4><a href="#">MÁY SMN02596</a></h4>
                                <p>MADE IN NHAT BAN</p>
                            </div>
                            <div class="img_new"><a href="#"> <img src="/images/thx/product5.jpg" alt="" /></a></div>
                            <a href="#" class="btn_chonmua">CHỌN MUA</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content_products_new">
                            <div class="text_new">
                                <h4><a href="#">MÁY SMN02596</a></h4>
                                <p>MADE IN NHAT BAN</p>
                            </div>
                            <div class="img_new"><a href="#"> <img src="/images/thx/product6.jpg" alt="" /></a></div>
                            <a href="#" class="btn_chonmua">CHỌN MUA</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content_products_new">
                            <div class="text_new">
                                <h4><a href="#">MÁY SMN02596</a></h4>
                                <p>MADE IN NHAT BAN</p>
                            </div>
                            <div class="img_new"><a href="#"> <img src="/images/thx/product1.jpg" alt="" /></a></div>
                            <a href="#" class="btn_chonmua">CHỌN MUA</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content_products_new">
                            <div class="text_new">
                                <h4><a href="#">MÁY SMN02596</a></h4>
                                <p>MADE IN NHAT BAN</p>
                            </div>
                            <div class="img_new"><a href="#"> <img src="/images/thx/product2.jpg" alt="" /></a></div>
                            <a href="#" class="btn_chonmua">CHỌN MUA</a>
                        </div>
                    </div>
                </div>
                <div class="colLeft">
                    <div id="horizontalTab1" class="tab-panel">
                        <ul class="resp-tabs-list">
                            <li>sản phẩm mới</li>
                            <li>sản phẩm ký gởi</li>
                            <li>sản phẩm 2ND</li>
                            <li>sản phẩm bán nhiều nhất</li>
                        </ul>
                        <div class="resp-tabs-container">
                            <div class="contenttab">
                                <div class="innerTab">
                                    <ul>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product1.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product2.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product3.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product4.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product5.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product6.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product2.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product3.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product4.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="contenttab">
                                <div class="innerTab">
                                    <ul>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product2.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product4.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product5.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product6.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product3.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>

                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product1.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="contenttab">
                                <div class="innerTab">
                                    <ul>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product4.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product5.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product1.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product3.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product5.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product6.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="contenttab">
                                <div class="innerTab">
                                    <ul>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product2.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product6.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product5.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product4.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>

                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product3.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product1.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product4.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>

                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product3.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contentSale">
                                                <div class="imgSale"><a href="#"> <img src="/images/thx/product1.jpg" alt="" /></a></div>
                                                <div class="textSale">
                                                    <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                                                    <p class="priceSale1">800,000 vnđ</p>
                                                </div>
                                                <a href="#" class="btn_chonmua">CHỌN MUA</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="colRight">
                    @{ Html.RenderPartial("~/Views/Shared/Partial/Shopcart.cshtml"); }
                    @{ Html.RenderPartial("~/Views/Shared/Partial/Weather.cshtml"); }
                    @{ Html.RenderPartial("~/Views/Shared/Partial/RightContact.cshtml"); }
                    @Html.Controls().BrandList("BrandList-Home.cshtml")
                </aside>
                <div class="frm2">
                    <div class="inner-frm2">
                        @{ Html.RenderPartial("~/Views/Shared/Partial/Home-Video-News.cshtml"); }

                        <div class="clear"></div>
                    </div>
                </div>


            </div>
            <div class="clear"></div>
            <footer>
                @{ Html.RenderPartial("~/Views/Shared/Partial/Footer.cshtml"); }
            </footer>
        </div>
        <!--end main-->
    </div>

    @RenderBody()
    @Html.JsBundle("~/js/page/index")
</body>
</html>
