<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@ViewBag.Title</title>
    @Html.CssBundle("~/css/index")
    @Html.JsBundle("~/js/default")
</head>
<body>
    <div id="body">
        <div class="main">
            <header class="top">
                <div class="contentTop">
                    <div class="logo"><a href="/"><img src="/images/thx/logo.png" alt="logo" /></a></div>
                    @{ Html.RenderPartial("~/Views/Shared/Partial/MiniShopcart.cshtml"); }
                    <!--Mini Shopping Cart End-->
                    <div class="clear2"></div>
                    @{ Html.RenderPartial("~/Views/Shared/Partial/SearchBox.cshtml"); }
                    <nav class="nav">
                        @Html.Controls().MenuNavigator()
                    </nav>
                    <!-- /Nav -->
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </header>
            <div class="content">
                @Html.Controls().Slider()
                @Html.Controls().LastViewProduct("LastViewProduct-Home.cshtml")

                <div class="colLeft">
                    @Html.Controls().HomeProduct()
                </div>
                <aside class="colRight">
                    @{ Html.RenderPartial("~/Views/Shared/Partial/Shopcart.cshtml"); }
                    @{ Html.RenderPartial("~/Views/Shared/Partial/Weather.cshtml"); }
                    @{ Html.RenderPartial("~/Views/Shared/Partial/RightContact.cshtml"); }
                    @Html.Controls().BrandList("BrandList-Home.cshtml")
                </aside>
                <div class="frm2">
                    <div class="inner-frm2">
                        @{ Html.RenderPartial("~/Views/Shared/Partial/Home-Video-News.cshtml"); }
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <footer>
                @{ Html.RenderPartial("~/Views/Shared/Partial/Footer.cshtml"); }
            </footer>
        </div>
        <!--end main-->
    </div>

    @RenderBody()
    @Html.JsBundle("~/js/page/index")
    <div id="mask-loading">
        <div></div>
    </div>
</body>
</html>
