@model ShipEquipment.Biz.Domain.Album

@{
    ViewBag.Title = "Cập nhật album";
    Layout = "~/Areas/Admin/Views/Shared/Layouts/Edit.cshtml";

}

<h2>Cập nhật album</h2>
@using (Html.BeginForm("edit", "album", new { id = @Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="error">
        @ViewBag.Error
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>

    <div class="form-horizontal">
        <h4>Album</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisplayOrder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="frm-photo frm-album">
            <label>Quản lý photo</label>
            <div>
                <table class="photo-list tb_table" style="width: 100%;">
                    <tbody>
                        <tr class="tb_content">
                            <th>Title</th>
                            <th style="width: 200px;"> Photo</th>
                            <th class="col-command"></th>
                        </tr>
                        @if (Model.Photos != null)
                        {
                            var index = 0;
                            foreach (Photo photo in Model.Photos)
                            {
                                <tr class="tb_content" data-id="@photo.Id">
                                    <td>
                                        <input id="Photos[@index].Title" name="Photos[@index].Title" value="@photo.Title" type="text" style="width: 95%;" />
                                        <input id="Photos[@index].Id" data-index="@index" class="photo-id" name="Photos[@index].Id" value="@photo.Id" type="hidden" />
                                        <input id="Photos[@index].FileName" name="Photos[@index].FileName" value="@(photo.FileName)" type="hidden" />
                                        <input id="Photos[@index].AlbumId" name="Photos[@index].AlbumId" value="@(photo.AlbumId)" type="hidden" />
                                    </td>
                                    <td>
                                        <img src="~/Userfiles/Modules/Album/Thumb/@(photo.FileName)" alt="@(photo.Title)" />
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" class="del-photo">Xóa</a>
                                    </td>
                                </tr>

                                index++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label>Upload photo (1024x768)</label>
            <div>
                <table>
                    <tr>
                        <td>
                            <input type="file" name="file" id="file" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" class="btn-add-photo" value="Upload" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="form-group">
            <label>&nbsp;</label>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btnAdd" />
                <input type="button" value="Xóa" class="btnDelete" data-href="/admin/album/delete/@Model.Id" />
                <input type="reset" value="Reset" class="btnCancel" />
                <input type="button" value="Bỏ qua" class="btnCancel btnDiscard" data-href="/admin/album/" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#Name').blur(function () {
            AutoGenerateAlias(this.value, 'Alias', false);
        })

        $('.btnDelete').click(function () {
            var ok = confirm('Bạn muốn xóa album này không?')
            if (ok)
                location.href = $(this).attr('data-href');

            return false;
        })

        $('.del-photo').click(function () {
            var tr = $(this).closest('tr');

            if (tr.attr('data-id') != undefined) {
                var id = tr.attr('data-id');
                var index = tr.find('.photo-id').attr('value', '-' + id);
                tr.hide();
            }
            else
                tr.remove();
        })

        $('.btnDiscard').click(function () {
            location.href = $(this).attr('data-href');
        })

        function resetUpload() {
            $("#file").val('');
        }

        $('.btn-add-photo').click(function () {

            if ($("#file").val() == '')
            {
                alert('Bạn chưa chọn photo upload');
                return;
            }

            var formData = new FormData();
            formData.append("file", $("#file")[0].files[0]);
            resetUpload();

            $.ajax({
                async: true,
                type: 'POST',
                url: '/admin/album/uploadfile/',
                data: formData,
                success: function (data) {
                    data.src = "/Userfiles/_temp/Modules/Album/thumb/" + data.filename;

                    var index = $('.photo-list tr').length - 1;
                    var html = $('#template').html();

                    html = html.replace(/#index#/g, index);
                    html = html.replace(/#title#/g, data.title);
                    html = html.replace(/#filename#/g, data.filename);
                    html = html.replace(/#src#/g, data.src);

                    $('.photo-list tbody').append(html).show();
                    $('.photo-list').show();
                    $('.btn-done').show();

                    $('.del-photo').unbind('click').click(function () {
                        $(this).closest('tr').remove();
                    })
                },
                cache: false,
                contentType: false,
                processData: false
            });
        })
    })
</script>



<script type="text/html" id="template">
    <tr class="tb_content">
        <td>
            <input id="Photos[#index#].Title" name="Photos[#index#].Title" value="#title#" type="text" style="width: 95%;" />
            <input id="Photos[#index#].FileName" name="Photos[#index#].FileName" value="#filename#" type="hidden" />
        </td>
        <td>
            <img src="#src#" alt="#title#" />
        </td>
        <td>
            <a href="javascript:void(0);" class="del-photo">Xóa</a>
        </td>
    </tr>
</script>