@model IEnumerable<ShipEquipment.Biz.Domain.Page>
@using ShipEquipment.Core.Enumerations

@{
    var pageAlias = "index";
    if (ShipEquipment.Core.SiteContext.Current.RouteData.Values["frontendpage"] != null)
    {
        pageAlias = ShipEquipment.Core.SiteContext.Current.RouteData.Values["frontendpage"].ToString();
    }
    var count = Model.Count();
    var index = 1;

    var newsCategory = ViewBag.NewsCategory as IEnumerable<ShipEquipment.Biz.Domain.NewsCategory>;
    var productCategory = ViewBag.ProductCategory as IEnumerable<ShipEquipment.Biz.Domain.Category>;

    var newCateAlias = Html.ViewContext.RouteData.Values["newscategoryalias"] as string;

}


<ul class="nav-list">
    @if (Model != null)
    {
        foreach (var page in Model)
        {
            var active = string.Compare(page.Alias, pageAlias, true) == 0 || string.IsNullOrEmpty(pageAlias) ? "class='active'" : "";
            var last = index == count ? "last" : "";
            index++;

            <li class="nav-item @last">
                <a href="/@page.Alias" title="@page.Name" @Html.Raw(active)>@page.Name</a>
                @if (string.Compare(page.Alias, "tin-tuc", true) == 0 && newsCategory != null)
                {
                    <ul id="news" class="nav-submenu">
                        @foreach (var cate in newsCategory)
                        {
                            if (cate.Id > 1)
                            {
                                var activeCate = string.Compare(newCateAlias, cate.Alias, true) == 0 ? "active" : "";
                                <li class="nav-submenu-item">
                                    <a class="@activeCate" href="/tin/@cate.Alias">@cate.Name</a>
                                </li>
                            }
                        }
                    </ul>
                }

                @if (string.Compare(page.UniqueKey, PageType.Product.ToString(), true) == 0)
                {
                    Html.RenderPartial("~/Views/Shared/Partial/MenuNav-Category.cshtml", productCategory);
                }
            </li>
        }
    }
</ul>
<script type="text/javascript">
    $(document).ready(function () {
        var news = $('#news .active');
        if (news.length > 0) {
            $('#news .active').closest('ul').prev().addClass('active');
        }

        $('a[href*="/tin-tuc"]').attr('href', '/tin/tin-tuc');
    })
</script>