@using ShipEquipment.Core.Enumerations
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@ViewBag.Title</title>
   
    @RenderSection("Styles", false)
    @Html.CssBundle("~/css/lightGallery", "~/css/jquery/lightGallery.css")
    @Html.JsBundle("~/js/default")
    @RenderSection("HeaderScripts", false)
</head>
<body>
    <div id="body">
        <div class="main">
            <header class="top">
                <div class="contentTop">
                    <div class="logo"><a href="/"><img src="/images/thx/logo.png" alt="logo" /></a></div>
                    @{ Html.RenderPartial("~/Views/Shared/Partial/MiniShopcart.cshtml"); }
                    <!--Mini Shopping Cart End-->

                    <div class="clear2"></div>
                    @{ Html.RenderPartial("~/Views/Shared/Partial/SearchBox.cshtml"); }
                    <nav class="nav">
                        @Html.Controls().MenuNavigator()
                    </nav>
                    <!-- /Nav -->
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </header>
            <div class="content">
                <div class="colLeft">
                    <div class="frm3">
                        @RenderBody()
                    </div>
                </div>
                <aside class="colRight">
                    @{ Html.RenderPartial("~/Views/Shared/Partial/Shopcart.cshtml"); }
                    @{ Html.RenderPartial("~/Views/Shared/Partial/Weather.cshtml"); }
                    @{ Html.RenderPartial("~/Views/Shared/Partial/RightContact.cshtml"); }
                    @Html.Controls().BrandList(3, "BrandList-Home.cshtml")
                </aside>
                <div class="frm2">
                    @Html.Controls().LastViewProduct()
                </div>
                <div class="clear"></div>
                <footer>
                    @{ Html.RenderPartial("~/Views/Shared/Partial/Footer.cshtml"); }
                </footer>
            </div>
            <!--end main-->
        </div>

    </div>

    @Html.JsBundle("~/js/page/content")
    @RenderSection("FooterScripts", false)
    <div id="mask-loading">
        <div></div>
    </div>
</body>
</html>
